@charset "UTF-8";

.login_pg {
	font-family: 'Noto Sans KR';
	font-size: 15px;
	font-weight: 400;
	width: 700px;
	margin: 0 auto;
}
.login_pg > p {
	font-size: 28px;
	font-weight: 500;
	color: #1d1d1d;
	text-align: center;
	height: 70px;
	margin: 100px 0 30px;
	line-height: 70px;
}
.login_pg > div {
	line-height: 50px;
	text-align: center;
}
.login_pg > div:nth-of-type(1) {
	background: url(../ico/email.svg) no-repeat 600px 15px / 24px 24px;
}
.login_pg > div:nth-of-type(2) {
	background: url(../ico/password.svg) no-repeat 600px 25px /24px 24px;
}
.login_pg > div:nth-of-type(5) {
	margin-bottom: 200px;
}
.login_pg > div > input {
	width: 600px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #ccc;
}
.login_pg > div > input[type="password"] {
	margin: 10px 0 20px;
}
.login_pg > div > input[type="button"] {
	background: #ff6600;
	color: #ffffff;
	text-align: center;
	border: 0;
}
.kakao_btn{
	margin-top: 10px;
	background: #ffbb00 !important;
	color: #282828 !important;
	text-align: center;
	border: 0;
}

.login_pg > div > input::placeholder {
	padding-left: 10px;
}
.login_pg > div > span {
	position: relative;
	color: #999999;
}
.login_pg > div > span:nth-of-type(1), span:nth-of-type(2) {
	margin-right: 30px;
}
.login_pg > div > span:nth-of-type(1)::after, span:nth-of-type(2)::after {
	content: "|";
	position: absolute;
	margin-left: 15px;
}
