@charset "UTF-8";

.sub {
	font-family: 'Noto Sans KR';
	font-size: 15px;
	font-weight: 400;
	width: 700px;
	height:auto !important;
	margin: 0 auto;
	position:relative;
	left:30px;
}
.sub > p {
    font-size: 28px;
	font-weight: 500;
	color: #1d1d1d;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin: 100px 0 0 0;
}
.sub > div:nth-of-type(1) {
	line-height:30px;
	height: 30px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.info_board { 
	width: 100%;
	height: auto;
}
.info_board > ul {
	width: 100%;
	height: 700px;
}
.info_board > ul > li{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid gainsboro;
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.info_board > ul > li:nth-child(odd){
    text-indent: 10px;
    width: 20%;
}
.info_board > ul > li:nth-child(even){
    width: 80%;
}
.litext{
    height: 500px !important;
}
.textarea {
    width: 100%;
    height: 500px;
    overflow-x: auto;
    padding: 5px;
}
.board_btn{
    width: 100%;
	height: 30px;
    margin-bottom: 70px;
    text-align: right;
}
.btns{
	width: 80px;
	height: 30px;
	background-color:#ff6600;
	color: white;
	border: 0;
	font-size: 12px;
}

.board_in1{
	width:200px;
	height: 30px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-indent: 5px;
}
.board_in2{
	width:450px;
	height: 30px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-indent: 5px;
}